
YumiBot/.env
YumiBot/myApp/.env
YumiBot/.DS_Store
YumiBot/myApp/.DS_Store
YumiBot/myApp/public/.DS_Store

YumiBotGo/code
YumiBotGo/YumiBotGo
YumiBotGo/server
YumiBotGo/server.go
YumiBotGo/Next step
YumiBotGo/files/push gerrit.txt
YumiBotGo/files/intercomAdminIds
YumiBotGo/files/Integration.numbers

.DS_Store

*.zip
*.xlsx

Froso/node_modules/
Froso/nextStepFroso
Froso/Linkedin/files/creds.js
Froso/linkedin/creds.js
YumiBotGo/.env
YumiBotGo/files/.env
yardicsv/yardicsv
yardicsv/main.go
YumiBotGo/files/commented code
YumiBotGo/files/Conflict Git
Froso/Entrata/using scrape for Entrata.js
Froso/Linkedin/files/final step:ui
