.myContainer {
    position:               relative;
    top:                    20px;
    font-size:              20px;
    background:             #00c389;
    border:                 3px outset blue;
    margin:                 5px;
    opacity:                0.9;
    z-index:                1100;
    padding:                5px 20px;
}